*{ box-sizing:border-box;padding:0; margin:0;}
.row::after {content:""; clear:both; display:table;}
.header, .footer{background-color:lightgray;color:blue;padding:10px;}
.banner li{border:3px solid black; padding:10px; margin-bottom:20px;}
.banner li img {width:100%; vertical-align:middle;}
table, tr, th, td{
}
